* {
	box-sizing: border-box;
}

html {
    --bg-color: var(--tg-theme-bg-color);
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--tg-theme-text-color);
    margin: 48px 24px;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}

.doc-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
}
